/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/manual.pdf
/doc/_*.xml
/doc/LINS.xml
/doc/title.xml
# Some new files that popped up after changing the scaffolig in makedoc.g
/doc/LINS.fdb_latexmk
/doc/LINS.fls
/doc/LINS.pdf
/doc/LINS.synctex.gz

/gh-pages/

_dev

/tst/files/doc/
